# When using rsg/datascience-python-cookiecutter to start a project, add or
# modify this list to match the development-only requirements of your project
# (i.e. not needed in production).
# This file contains Python requirements that are only needed for application
# development and testing. Libraries usually don't use this file -- they list
# dev requirements in setup.py instead.
# To compile it, run the following command from the top-level directory of
# the repo:
# truncate -s 0 requirements/*.txt && pip-compile-multi --directory requirements/
-r requirements.in
google-cloud-storage
pytest
pytest-cov
